<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Homepage</title>
</head>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<body>
    <a href="/search" title="search" >Search</a>
    <a href="/recommend" title="recommend" >Recommendation</a>
    <a href="/related" title="related" >Get the related movies</a>
    <a href="/top" title="top" >Get the top 250 movies</a>
</body>
<script> 
</script> 
</html>