<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>homepage</title>

  </head>
  <body>
    <div id = "testlabel"></div>
    <script>
        url = "http://127.0.0.1:5000/gettop"
        var testlabel = document.getElementById("testlabel")
        var xhr = new XMLHttpRequest();
        xhr.addEventListener("readystatechange",function () {
            if (this.readyState === 4) {
                responseData = JSON.parse(this.response);
                if (responseData.length == 0){
                    var innerhtml = "No data"
                }
                else{
                    var innerhtml = "<table>\
                                        <tr>\
                                        <th>Name</th>\
                                        <th>Release year</th>\
                                        <th>Duration</th>\
                                        <th>Rating</th>\
                                        <th>Rating count</th>\
                                        <th>Genres</th>\
                                        <th>Introduction</th>\
                                        </tr>\
                                        "
                    for(var i = 0; i < responseData.length; i++){
                        innerhtml += "<tr>\
                                        <td>" + responseData[i][0] + "</td>\
                                        <td>"+ responseData[i][1] + "</td>\
                                        <td>"+ responseData[i][2] + "</td>\
                                        <td>"+ responseData[i][3] + "</td>\
                                        <td>"+ responseData[i][4] + "</td>\
                                        <td>"+ responseData[i][5] + "</td>\
                                        <td>"+ responseData[i][6] + "</td>\
                                        </tr>\
                                        "
                        
                    }
                    innerhtml += "</table>"
                }
                
                testlabel.innerHTML = innerhtml
            }
        });
        xhr.open("GET", url);
        xhr.withCredentials = false
        xhr.send();
        if (xhr.status != 200){
            testlabel.innerHTML = "Unable to fetch data! "
        };
    </script>
  </body>
</html>